/* stylelint-disable*/
a,abbr,acronym,address,applet,article,aside,audio,b,big,blockquote,body,canvas,caption,center,cite,code,dd,del,details,dfn,div,dl,dt,em,embed,fieldset,figcaption,figure,footer,form,h1,h2,h3,h4,h5,h6,header,hgroup,html,i,iframe,img,ins,kbd,label,legend,li,mark,menu,nav,object,ol,output,p,pre,q,ruby,s,samp,section,small,span,strike,strong,sub,summary,sup,table,tbody,td,tfoot,th,thead,time,tr,tt,u,ul,var,video{margin:0;padding:0;border:0;font:inherit;vertical-align:baseline}article,aside,details,f gcaption,figure,footer,header,hgroup,main,menu,nav,section{display:block}html{line-height:1}body{line-height:inherit}ol,ul{list-style:none}blockquote,q{quotes:none}blockquote:after,blockquote:before,q:after,q:before{content:'';content:none}table{border-collapse:collapse;border-spacing:0}
/* stylelint-enable */

/* BEGIN normalize.css FROM STYLES */
button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html[type="button"],[type="reset"],[type="submit"]{-webkit-appearance:button}button::-moz-focus-inner,[type="button"]::-moz-focus-inner,[type="reset"]::-moz-focus-inner,[type="submit"]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type="button"]:-moz-focusring,[type="reset"]:-moz-focusring,[type="submit"]:-moz-focusring{outline:1px dotted ButtonText}fieldset{border:1px solid silver;margin:0 2px;padding:.35em .625em .75em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type="checkbox"],[type="radio"]{box-sizing:border-box;padding:0}[type="number"]::-webkit-inner-spin-button,[type="number"]::-webkit-outer-spin-button{height:auto}[type="search"]{-webkit-appearance:textfield;outline-offset:-2px}[type="search"]::-webkit-search-cancel-button,[type="search"]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}
/* END of normalize.css FORM STYLES */

html{
  background-color: #267257;
  color: #003925;
  padding: 1.444em 1.204em; /*  21.667px/18px || 26px/18px */
  line-height: 1.444em; /* 26px/18px | grid line */
  font-family: "Calibri", Helvetica, "Futura";
  font-size: 1.125em;
}

label,
input{
  display: block;
  border: 0;
  margin: 0;
  padding: 0;
}

label{
  padding-left: 1.204em;
}

p{
  font-size: 1.62em; /** 26 size text **/
  line-height: 52px;
}

li{
  padding-bottom: 1.444em;
}

input{
  line-height: 2.888em; /* 52px/18px | 2 grid lines */
  background-color: #72ab97;
}

input[type=name] {
  padding-left: 0.722em; /*  13px/18px | half gridline */
  border-radius: 1em;
}

input[type=number] {
  padding-left: 0.722em; /*  13px/18px | half gridline */
  border-radius: 1em;
}
input[type=date] {
  padding-left: 0.722em; /*  13px/18px | half gridline */
  border-radius: 1em;
}

input[type=submit] {
  padding-left: 5%;
  padding-right: 5%;
  border-radius: 5em;
  color: #72ab97;
  background-color: #003925;
}
